<template>
  <div class="home">
    <img class="app-logo" alt="Star Wars logo" src="../assets/logo.png">
    <HelloStarWarsWorld msg="Welcome to Star Wars Fan App"/>
  </div>
</template>

<script>
import HelloStarWarsWorld from '@/components/HelloStarWarsWorld.vue';

export default {
  name: 'home',
  components: {
    HelloStarWarsWorld,
  },
};
</script>
<style lang="scss" scoped>
  .app-logo {
    padding: 2rem 0;
    max-width: 90vw;
  }
</style>
