<template>
  <div class="about">
    <h1>Here you have (almost) every Star Wars movie</h1>
    <MovieList/>
  </div>
</template>
<script>
// @ is an alias to /src
import MovieList from '@/components/MovieList.vue';

export default {
  name: 'home',
  components: {
    MovieList,
  },
};
</script>
