<template>
  <div class="about">
    <h1>Here you have reviews</h1>
    <ReviewsList/>
  </div>
</template>
<script>
// @ is an alias to /src
import ReviewsList from '@/components/ReviewsList.vue';

export default {
  name: 'home',
  components: {
    ReviewsList,
  },
};
</script>
