<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" dark color="amber" max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn color="amber" flat dark v-on="on">Add review</v-btn>
      </template>
      <v-card>
        <v-toolbar flat large dark>
          <v-card-title>
            <span class="headline">Add review</span>
          </v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-container grid-list-md>
            <v-form xs12 v-model="valid" lazy-validation ref="form">
              <v-flex xs12>
                <v-text-field
                  class="input-nick"
                  color="amber"
                  label="Nick name*"
                  required
                  :rules="reviewerRules"
                  counter="14"
                  v-model="reviewer"
                ></v-text-field>
                <v-textarea
                  name="review"
                  color="amber"
                  label="Review"
                  hint="Add your review"
                  required
                  :rules="reviewRules"
                  counter="300"
                  outline
                  v-model="review"
                ></v-textarea>
              </v-flex>
              <div class="text-xs-center">
                <v-rating color="amber" v-model="rating"></v-rating>
              </div>
            </v-form>
          </v-container>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="amber" large flat @click="validate">Save review</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  name: 'AddReview',
  props: {
    title: String,
  },
  data() {
    return {
      dialog: false,
      valid: false,
      reviewer: '',
      review: '',
      rating: 3,
      reviewerRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 14) || 'Name must be less than 14 characters',
      ],
      reviewRules: [
        v => !!v || 'Review is required',
        v => (v && v.length <= 300) || 'Review must be less than 300 characters',
      ],
    };
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.addReview();
      }
    },
    addReview() {
      const {
        title, reviewer, review, rating,
      } = this;
      this.initStorage();
      const newReview = {
        title,
        reviewer,
        review,
        rating,
      };
      const reviews = JSON.parse(localStorage.reviews);
      reviews.forEach((movieReview, index, object) => {
        if (movieReview.title === title && movieReview.reviewer === reviewer) {
          object.splice(index, 1);
        }
      });
      reviews.push(newReview);
      localStorage.setItem('reviews', JSON.stringify(reviews));
      this.resetFormState();
    },
    initStorage() {
      if (!localStorage.getItem('reviews')) {
        localStorage.setItem('reviews', JSON.stringify([]));
      }
    },
    resetFormState() {
      this.reviewer = '';
      this.review = '';
      this.rating = 3;
      this.dialog = false;
      this.resetValidation();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/styles/_colors.scss';
.input-nick {
  margin-bottom: 1.5rem;
}
</style>
