<template>
<transition name="fade">
  <div v-if="show" class="sw-intro">
    <div class='sw-intro--small'>I'm glad</div>
    <div class="sw-intro--medium">you're here</div>
    <h1 class='header'>{{ msg }}</h1>
  </div>
</transition>
</template>

<script>
export default {
  name: 'HelloStarWarsWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      show: false,
    };
  },
  mounted() {
    this.show = true;
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .sw-intro{
    // opacity: 0;
    margin-top: 2rem;
    &--small {
      font-size: .7rem;
    }
    &--medium {
      font-size: 1.3rem;
    }
  }
  .header {
    margin-top: 0;
  }
 .fade-enter-active, .fade-leave-active {
  transition: opacity 2.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
