<template>
  <div class="movie-details">
    <v-layout row justify-center>
      <v-dialog v-model="dialog" dark fullscreen hide-overlay transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
          <v-btn color="amber" flat dark v-on="on">Details</v-btn>
        </template>
        <v-card class="details-dialog">
          <v-toolbar flat large color="amber" dark>
            <v-toolbar-title>{{movieProperties.title}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn icon dark @click="dialog = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-list three-line subheader>
            <v-subheader>
              Release date: {{movieProperties.release_date}} | Episode: {{movieProperties.episode_id}}
            </v-subheader>
            <v-divider></v-divider>
            <v-list-tile avatar>
              <v-list-tile-content>
                <v-list-tile-title>Producer</v-list-tile-title>
                <v-list-tile-sub-title>{{movieProperties.producer}}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile avatar>
              <v-list-tile-content>
                <v-list-tile-title>Director</v-list-tile-title>
                <v-list-tile-sub-title>{{movieProperties.director}}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
          </v-list>
          <div class="description">{{movieProperties.opening_crawl}}</div>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'MovieDetails',
  props: {
    movieProperties: Object,
  },
  data() {
    return {
      dialog: false,
    };
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/styles/_colors.scss';
.details-dialog {
    min-height: 100vh;
}
  .preview-btn {
    color: #ddd;
  }
  .description {
    color: $brandColor;
    font-size: 1.25rem;
  }
</style>
