<template>
  <div class="movie">
      <div class="movie-title">
        {{movie.properties.title}} - {{movie.properties.episode_id}}
      </div>
      <MovieDetails :movieProperties="movie.properties "/>
      <AddReview :title="movie.properties.title"/>
  </div>
</template>

<script>
import MovieDetails from '@/components/MovieDetails.vue';
import AddReview from '@/components/AddReview.vue';

export default {
  name: 'Movie',
  components: {
    MovieDetails,
    AddReview,
  },
  props: {
    movie: Object,
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/styles/_colors.scss';

  .movie {
    margin: 1rem;
    padding: 1rem;
    min-width: 290px;
    min-height: 100px;
    border: 3px solid $brandColor;
    font-size: 1.5rem;
    &-title{
      color: #ddd;
    }
  }
  .preview-btn {
    color: #ddd;
  }
</style>
