<template>
  <div>
    <v-container fluid>
      <v-layout wrap justify-center>
        <v-flex xs12 md6>
          <v-combobox
            dark
            color="amber"
            :items="filmTitles"
            label="Select your favorite movie"
            clearable
            @change="handleSelectedMovie"
          ></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout wrap justify-center>
        <v-btn outline color="amber" @click="sortBy('title')"
          >Sort by title</v-btn
        >
        <v-btn outline color="amber" @click="sortBy('episode_id')"
          >Sort by episode</v-btn
        >
      </v-layout>
    </v-container>
    <v-progress-circular
      class="spinner"
      indeterminate
      color="amber"
      :size="70"
      v-if="loading"
    >
    </v-progress-circular>
    <div class="movies" v-else>
      <div v-if="error">
        we have some problems... <br />
        {{ error }}
      </div>

      <Movie
        v-else
        v-for="(movie, index) in films"
        :key="index"
        :movie="movie"
      />
    </div>
  </div>
</template>

<script>
// This is data container, from here, I can fetch data, and distribute to dummy-view-components
import Movie from '@/components/Movie.vue';
import { mapState, mapActions, mapGetters } from 'vuex';
import { Films } from '@/store/modules/films';

export default {
  name: 'MovieList',
  components: {
    Movie,
  },
  async mounted() {
    await this.getFilms();
  },
  computed: {
    ...mapState(Films.NAME, {
      films: state => state.filteredListOfFilms,
      loading: state => state.loading,
      error: state => state.error,
    }),
    ...mapGetters(Films.NAME, {
      filmTitles: [Films.GETTERS.GET_MOVIE_NAMES],
    }),
  },
  methods: {
    ...mapActions(Films.NAME, {
      getFilms: Films.ACTIONS.GET_FILMS_ACTION,
      filterFilmsByTitle: Films.ACTIONS.GET_MOVIE_BY_TITLE_ACTION,
      sortFilms: Films.ACTIONS.SORT_FILMS_BY_PROPERTY_ACTION,
    }),
    handleSelectedMovie(filmTitle) {
      this.filterFilmsByTitle(filmTitle);
    },
    sortBy(prop) {
      this.sortFilms(prop);
    },
  },
};
</script>
<style scoped lang="scss">
.spinner {
  margin-top: 10vh;
}
.movies {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
</style>
