<template>
  <div class="reviews">
    <div class="reviews-info" v-if="loading">
      ...
      <br>Reviews list is empty, pls add some reviews
    </div>
    <div class="reviews-list" v-else>
      <v-expansion-panel dark>
        <v-expansion-panel-content v-for="(review, i) in revievsList" :key="i">
          <template v-slot:header>
            <div class="wrapper">
              <div class="wrapper-item">{{review.title}}</div>
              <div class="wrapper-item">Reviewer: {{review.reviewer}}</div>
              <v-rating color="amber" readonly v-model="review.rating"></v-rating>
            </div>
          </template>
          <v-card>
            <v-card-text>{{review.review}}</v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ReviewList',
  data() {
    return {
      reviewsList: null,
      loading: true,
    };
  },
  mounted() {
    if (localStorage.reviews) {
      const reviewsStorage = JSON.parse(localStorage.reviews);
      if (reviewsStorage.length > 0) {
        this.revievsList = reviewsStorage;
        this.loading = false;
      }
    }
  },
};
</script>
<style scoped lang="scss">
.reviews {
  max-width: 1200px;
  margin: 80px auto;

  &-header {
    display: flex;
    justify-content: space-between;
  }
}
.wrapper {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  &-item {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
