<template>
  <v-app class="v-app">
    <div id="app">
      <div id="nav">
        <router-link to="/">Welcome</router-link>|
        <router-link to="/movies">Find movie or add review</router-link>|
        <router-link to="/reviews">Reviews</router-link>
      </div>
      <div class="music-control">
        <v-btn v-if="!musicIsPaused" outline fab color="amber" @click="pauseMusic()">
          <v-icon>pause</v-icon>
        </v-btn>
        <v-btn v-else outline fab color="amber" @click="playMusic()">
          <v-icon>play_arrow</v-icon>
        </v-btn>
      </div>
      <div v-if="musicFail">
        music has stopped by DOMException ;/
        <br>click button to play
      </div>
      <router-view/>
    </div>
  </v-app>
</template>
<script>
export default {
  name: 'App',
  data() {
    return {
      epicTheme: new Audio(
        'https://ia801703.us.archive.org/15/items/StarWarsThemeSongByJohnWilliams/Star%20Wars%20Theme%20Song%20By%20John%20Williams.mp3',
      ),
      musicIsPaused: true,
      musicFail: false,
    };
  },
  mounted() {
    this.initMusic();
  },
  beforeDestroy() {
    this.epicTheme.pause();
  },
  methods: {
    initMusic() {
      const playPromise = this.epicTheme.play();
      // eslint-disable-next-line
        playPromise.then((_) => {
        this.musicIsPaused = false;
      })
        .catch((error) => {
          this.musicFail = true;
          // eslint-disable-next-line
          console.error('ugly DOMException: ', error);
        });
    },
    pauseMusic() {
      this.epicTheme.pause();
      this.musicIsPaused = true;
    },
    playMusic() {
      this.epicTheme.play();
      this.musicIsPaused = false;
      this.musicFail = false;
    },
  },
};
</script>
<style lang="scss">
@import "@/styles/_colors.scss";

.v-app,
html {
  background: #000 !important; // shame on me, dont be mad pls :)
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $brandColor;
  min-height: 100vh;
}
#nav {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background: #101010;
  z-index: 10;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #ddd;
    }
  }
}
.music-control {
  margin-top: 0.5rem;
}
</style>
